.pre-title {
  margin-bottom: 15px;

  font-family: var(--header-text-family);
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-color);
}
