@mixin pre-title {
  font-family: var(--header-text-family);
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-color);
  margin-bottom: 15px;
}
@mixin title {
  font-family: var(--header-text-family);
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--header-text-color);
}
