
@mixin font-title($ff, $fs, $lh, $ta, $tt, $cl) {
  font-family: $ff;
  font-size: $fs;
  line-height: $lh;
  text-align: $ta;
  text-transform: $tt;
  color: $cl;
}

@mixin font($ff, $fw, $fs, $lh, $ls) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

