:root {
  --header-text-color: #d41443;
  --primary-color: #ffa5ba;
  --auxiliary-color: #ffffff;
  --primary-bg-color: #fff5f6;
  --secondary-bg-color: #ffb8ca;
  --gallery-bg-sec-color: #e5e5e5;
  --secondary-card-color: #f0d1a5;
  --another--card-color: #c2e297;
  --button-color-hover: #ecebeb;
  --primary-text-color: #000000;
  --secondary-text-color: #907e82;
  --menu-mob-color: #e17992;
  --hover-button-color: #cccccc;
  --hover-redbutton-color: #df1b4cbe;
  --icon-bg-color: #fea5bb;
  --border-color: #e1e1e1;

  // шрифты
  --header-text-family: titan one, sans-serif;
  --basic-text-famili: dm sans, sans-serif;
  // переходы
  --transition-duration-link: 250ms;
  --timing-function-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
