:root {
  --header-text-color: #d41443;
  --primary-color: #ffa5ba;
  --auxiliary-color: #ffffff;
  --primary-bg-color: #fff5f6;
  --secondary-bg-color: #ffb8ca;
  --secondary-card-color: #f0d1a5;
  --another--card-color: #c2e297;
  --button-color-hover: #ecebeb;
  --primary-text-color: #000000;
  --secondary-text-color: #907e82;
  // шрифты
  --header-text-family: titan one, sans-serif;
  --basic-text-famili: dm sans, sans-serif;
}
