<section class="about section" id="about">
  <div class="about__background"></div>
  <div class="about__background-img"></div>
  <div class="about__container wrapp">
    <p class="about__pre-title">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__content-wrap">
      <div class="about__side-left">
        <picture>
          <source
            srcset="
              ./images/about-img/cow-img-deak1x.png 1x,
              ./images/about-img/cow-img-deak2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/about-img/cow-img-tabl1x.png 1x,
              ./images/about-img/cow-img-tabl2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/about-img/cow-img-mob1x.png 1x,
              ./images/about-img/cow-img-mob2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/about-img/cow-img-deak1x.png" alt="Product Designer" />
        </picture>
      </div>
      <div class="about__side-right">
        <article class="about__article">
          <p class="about__article-title">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
          <p class="about__article-text">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt. <br />
            <br />
            Aliquam erat volutpat. Aenean accumsan.
          </p>
          <button type="button" class="about__read-more-btn hero-button--buy-now button--read-more">
            Read more
            <svg class="menu__icon" width="5" height="8">
              <use href="./images/hero-img/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </button>
        </article>
      </div>
    </div>
  </div>
  <div class="read-more is-hidden">
    <button type="button" class="read-more__close-btn">
      <svg class="read-more__icon-close" width="20" height="20">
        <use href="./images/hero-img/symbol-defs.svg#icon-arrow"></use>
      </svg>
    </button>
    <div class="read-more__container">
      <p class="about__article-title">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about__article-text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt. <br />
        <br />
        Aliquam erat volutpat. Aenean accumsan.
      </p>
      <p class="about__article-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, eos repellendus eius optio
        deleniti velit tempora accusamus praesentium obcaecati odio adipisci voluptatem ducimus quas
        quisquam doloribus rerum earum. Eum ratione itaque natus incidunt esse quas sed libero quam
        veritatis modi obcaecati debitis expedita aliquam illo, quisquam voluptatibus est minima
        cumque.
      </p>
      <p class="about__article-text">
        Porro beatae eaque magnam autem molestiae sit numquam pariatur sed. Animi dolores ut, in
        ipsum ipsa dicta natus cumque placeat maxime enim quibusdam nemo, soluta pariatur nobis
        molestias ullam explicabo provident veniam expedita, delectus hic!
      </p>
      <p class="about__article-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium rerum nam voluptatem,
        laboriosam perferendis maiores veniam velit soluta harum blanditiis ipsam cupiditate cum
        quis, facilis nesciunt! Ipsam magni explicabo ea iste expedita totam quaerat quia impedit et
        obcaecati architecto neque quas ut alias eum porro corrupti molestias, id asperiores!
        Molestias.
      </p>
      <p class="about__article-title">The End</p>
    </div>
  </div>
</section>
