<section class="section advantages">
    <div class="wrapp">
        <h1 class="visually-hidden">Tradition and love</h1>
        <ul class="advantages__list">
            <li class="list block-1">
                <h2 class="advantages__name title_one">271</h2>
                <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="list block-2">
                <h2 class="advantages__name title_two">16kg</h2>
                <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="list block-3">
                <h2 class="advantages__name title_three">84</h2>
                <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>