<section class="contacts">
    <div class="wrapp">
        <h2 class="contacts__hidden">Наши контакты</h2>
        <ul class="contacts__list">

            <li class="contacts__item">
                <div class="contacts__categories">CAFE</div>
                <h3 class="contacts__place">Chicago</h3>
                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="contacts__border"></div>
                <ul class="contacts__listtime">
                    <li class="contacts__itemtime">
                        <p class="contacts__day">Monday - Friday</p>
                        <p class="contacts__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__itemtime">
                        <p class="contacts__day">Saturday - Sunday</p>
                        <p class="contacts__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <div class="contacts__border"></div>
                <ul class="contacts__telpost">
                    <li class="contacts__phone">
                        <a class="contacts__link" href="tel:+610383766284">
                            +61(0) 383 766 284</a>
                    </li>
                    <li class="contacts__mail">
                        <a class="contacts__link" href="mailto:noreply@envato.com">
                            noreply@envato.com</a>
                    </li>
                </ul>
            </li> <!-- /contacts__item -->


            <li class="contacts__item">
                <div class="contacts__categories ft">FOODTRUCK</div>
                <h3 class="contacts__place">Los Angeles</h3>
                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="contacts__border"></div>
                <ul class="contacts__listtime">
                    <li class="contacts__itemtime">
                        <p class="contacts__day">Monday - Friday</p>
                        <p class="contacts__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__itemtime">
                        <p class="contacts__day">Saturday - Sunday</p>
                        <p class="contacts__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <div class="contacts__border"></div>
                <ul class="contacts__telpost">
                    <li class="contacts__phone">
                        <a class="contacts__link" href="tel:+610383766284">
                            +61(0) 383 766 284</a>
                    </li>
                    <li class="contacts__mail">
                        <a class="contacts__link" href="mailto:noreply@envato.com">
                            noreply@envato.com</a>
                    </li>
                </ul>
            </li> <!-- /contacts__item -->


            <li class="contacts__item">
                <div class="contacts__categories">CAFE</div>
                <h3 class="contacts__place">New York</h3>
                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <div class="contacts__border"></div>
                <ul class="contacts__listtime">
                    <li class="contacts__itemtime">
                        <p class="contacts__day">Monday - Friday</p>
                        <p class="contacts__time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts__itemtime">
                        <p class="contacts__day">Saturday - Sunday</p>
                        <p class="contacts__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <div class="contacts__border"></div>
                <ul class="contacts__telpost">
                    <li class="contacts__phone">
                        <a class="contacts__link" href="tel:+610383766284">
                            +61(0) 383 766 284</a>
                    </li>
                    <li class="contacts__mail">
                        <a class="contacts__link" href="mailto:noreply@envato.com">
                            noreply@envato.com</a>
                    </li> <!-- /contacts__item --->
                </ul> <!-- /contacts__list --->
        </ul>


        <ul class="contacts__buttonlist">
            <li class="contacts__buttonitem1">
                <form action="https://goo.gl/maps/zBPmSax5GYNkC23j9" target="_blank">
                    <button class="button contactsbutton1" type="button" modal--ourlocation>Our Locations</button>
                </form>
                <svg class="contacts__svg1" width="20" height="20">
                    <use href="http://localhost:1234/icons.2d421eb7.svg#icon-cheveron-right" class="contacts__href">
                    </use>
                </svg>
            </li>
            <li class="contacts__buttonitem2">
                <form action="page/new.html" target="_blank">
                    <button class="button contactsbutton2" type="button" modal__map>Franchise</button>
                </form>
                <svg class="contacts__svg2" width="20" height="20">
                    <use href="http://localhost:1234/icons.2d421eb7.svg#icon-cheveron-right" class="contacts__href">
                    </use>
                </svg>
            </li>
        </ul>
    </div>
</section>