<section class="customer">
    <div class="wrapp">
        <h2></h2>
        <div class="content">
            <div class="splide wrapp">
                <div class="splide" id="splide">
                    <div class="splide__track">
                        <ul class="splide__list list">

                            <li class="splide__slide">
                                <div class="customer-wrapp">
                                    <img class="customer-foto" src="/images/customer-img/customer1-1x.png"
                                        alt="customer">
                                    <div class="slider-text-wrapper">
                                        <p class="customer-reviews">
                                                Похил Юрий /
                                                Team-lead /
                                                Front-end разработчик
                                                

                                        </p>
                                    </div>
                                </div>
                                <p class="customer-text">Секция Footer</p>
                            </li>

                            <li class="splide__slide">
                                <div class="customer-wrapp">
                                    <img class="customer-foto" src="/images/customer-img/customer2-1x.png"
                                        alt="customer">
                                    <div class="slider-text-wrapper">
                                        <p class="customer-reviews">
                                            Фирсов Станислав /
                                            Scrum Master /
                                            Front-end разработчик
                                        </p>
                                    </div>
                                </div>
                                <p class="customer-text">Секция Contacts</p>
                            </li>

                            <li class="splide__slide">
                                <div class="customer-wrapp">
                                    <img class="customer-foto" src="/images/customer-img/customer3-1x.png"
                                        alt="customer">
                                    <div class="slider-text-wrapper">
                                        <p class="customer-reviews">
                                            Александр Чуйко /
                                            Front-end разработчик
                                        </p>
                                    </div>
                                </div>
                                <p class="customer-text">Секция About</p>
                            </li>

                            <li class="splide__slide">
                                <div class="customer-wrapp">
                                    <img class="customer-foto" src="/images/customer-img/customer4-1x.png" alt="customer">
                                    <div class="slider-text-wrapper">
                                        <p class="customer-reviews">
                                            Женя Головко /
                                            Front-end разработчик
                                        </p>
                                    </div>
                                </div>
                                <p class="customer-text">Секция Customer Reviews</p>
                            </li>

                            <li class="splide__slide">
                                <div class="customer-wrapp">
                                    <img class="customer-foto" src="/images/customer-img/customer5-1x.png" alt="customer">
                                    <div class="slider-text-wrapper">
                                        <p class="customer-reviews">
                                            Ващенко Ирина /
                                            Front-end разработчик

                                        </p>
                                    </div>
                                </div>
                                <p class="customer-text">Секция Advantages</p>
                            </li>

                            <li class="splide__slide">
                                <div class="customer-wrapp">
                                    <img class="customer-foto" src="/images/customer-img/customer6-1x.png" alt="customer">
                                    <div class="slider-text-wrapper">
                                        <p class="customer-reviews">
                                            Степан Борчук /
                                            Front-end разработчик
                                        </p>
                                    </div>
                                </div>
                                <p class="customer-text">Секция Gallery</p>
                            </li>

                            <li class="splide__slide">
                                <div class="customer-wrapp">
                                    <img class="customer-foto" src="/images/customer-img/customer7-1x.png" alt="customer">
                                    <div class="slider-text-wrapper">
                                        <p class="customer-reviews">
                                            Владислав Хокаев /
                                            Front-end разработчик
                                        </p>
                                    </div>
                                </div>
                                <p class="customer-text">Модальные окна+кнопки</p>
                            </li>

                            <li class="splide__slide">
                                <div class="customer-wrapp">
                                    <img class="customer-foto" src="/images/customer-img/customer8-1x.png" alt="customer">
                                    <div class="slider-text-wrapper">
                                        <p class="customer-reviews">
                                            Березньов Кирило /
                                            Front-end разработчик
                                        </p>
                                    </div>
                                </div>
                                <p class="customer-text">Cекция Product</p>
                            </li>

                            <li class="splide__slide">
                                <div class="customer-wrapp">
                                    <img class="customer-foto" src="/images/customer-img/customer9-1x.png" alt="customer">
                                    <div class="slider-text-wrapper">
                                        <p class="customer-reviews">
                                            Игорь Максимов /
                                            Front-end разработчик
                                        </p>
                                    </div>
                                </div>
                                <p class="customer-text">Секция Hero Header</p>
                            </li>

                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>