<section class="customer">
    <div class="wrapp">
        <h2></h2>
        <div class="content">
            <div class="splide wrapp">
                <div class="splide" id="splide">
                    <div class="splide__track">
                        <ul class="splide__list list">
                            <li class="splide__slide">
                                <div class="customer-wrapp">
                                    <img class="customer-foto" src="/images/customer-img/customer1-1x.png"
                                        alt="customer">
                                    <div class="slider-text-wrapper">
                                        <p class="customer-reviews">
                                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                                            sem. In
                                            hendrerit nulla quam nunc,
                                            accumsan
                                            congue. Lorem ipsum primis in nibh vel risus.
                                        </p>
                                    </div>
                                </div>
                                <p class="customer-text">Emily, Los Angeles</p>
                            </li>
                            <li class="splide__slide">
                                <div class="customer-wrapp">
                                    <img class="customer-foto" src="/images/customer-img/customer2-1x.png"
                                        alt="customer">
                                    <div class="slider-text-wrapper">
                                        <p class="customer-reviews">
                                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                                            sem. In
                                            hendrerit nulla quam nunc,
                                            accumsan
                                            congue. Lorem ipsum primis in nibh vel risus.
                                        </p>
                                    </div>
                                </div>
                                <p class="customer-text">Emily, Los Angeles</p>
                            </li>
                            <li class="splide__slide">
                                <div class="customer-wrapp">
                                    <img class="customer-foto" src="/images/customer-img/customer3-1x.png"
                                        alt="customer">
                                    <div class="slider-text-wrapper">
                                        <p class="customer-reviews">
                                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                                            sem. In
                                            hendrerit nulla quam nunc,
                                            accumsan
                                            congue. Lorem ipsum primis in nibh vel risus.
                                        </p>
                                    </div>
                                </div>
                                <p class="customer-text">Emily, Los Angeles</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>