<section class="gallery">
  <h3 class="gallery__title visually-hidden">Test-gal</h3>
  <ul class="gallery__list list">
    <li class="galery__item"> 
      <!-- <picture>
        <source
          srcset="./images/desk_img2_1x.jpg 1x, 
                  ./images/desk_img2_2x.jpg 2x"
          media="(min-width:1200px)"        
        />
        <source
          srcset="./images/tab_img2_1x.jpg 1x, 
                  ./images/tab_img2_2x.jpg 2x"
          media="(min-width:768px)"        
        />
        <source
          srcset="./images/mob_img2_1x.jpg 1x, 
                  ./images/mob_img2_2x.jpg 2x"
          media="(min-width:320px)"        
        />
        <img
        src="./images/mob_img2_1x.jpg"
        alt="Игорь Демьяненко"
        /> -->
      </picture> 
    </li>

  </ul>

</section>
