
 
  <section class="gallery">
        <div class="wrapp">
    
                <h3 class="gallery__title">Test-gal</h3>
                <ul class="gallery__list list">
                <li class="gallery__item"> 
                        <picture >
                        <source 
                        srcset="./images/gallery-img/desk_img_1-1x.jpg 1x, 
                                ./images/gallery-img/desk_img_1-2x.jpg 2x"
                        media="(min-width:1280px)"        
                        />
                        <source
                        srcset="./images/gallery-img/tab_img_1-1x.jpg 1x, 
                                ./images/gallery-img/tab_img_1-2x.jpg 2x"
                        media="(min-width:768px)"        
                        />
                        <source
                        srcset="./images/gallery-img/mob_img_1-1x.jpg 1x, 
                                ./images/gallery-img/mob_img_1-2x.jpg 2x"
                        media="(min-width:320px)"        
                        />
                        <img
                        class="gallery__item-card"
                        alt=""
                        src="./images/gallery-img/img_1.jpg"
                        />
                </picture> 
                </li>
                <li class="gallery__item"> 
                <picture>
                        <source
                        srcset="./images/gallery-img/desk_img_2-1x.jpg 1x, 
                                ./images/gallery-img/desk_img_2-2x.jpg 2x"
                        media="(min-width:1280px)"        
                        />
                        <source
                        srcset="./images/gallery-img/tab_img_2-1x.jpg 1x, 
                                ./images/gallery-img/tab_img_2-2x.jpg 2x"
                        media="(min-width:768px)"        
                        />
                        <source
                        srcset="./images/gallery-img/mob_img_2-1x.jpg 1x, 
                                ./images/gallery-img/mob_img_2-2x.jpg 2x"
                        media="(min-width:320px)"        
                        />
                        <img 
                        class="gallery__item-card"
                        alt=""
                        src="./images/gallery-img/img_2.jpg"
                        />
                </picture> 
                </li>
                <li class="gallery__item"> 
                <picture>
                        <source
                        srcset="./images/gallery-img/desk_img_3-1x.jpg 1x, 
                                ./images/gallery-img/desk_img_3-2x.jpg 2x"
                        media="(min-width:1280px)"        
                        />
                        <source
                        srcset="./images/gallery-img/tab_img_3-1x.jpg 1x, 
                                ./images/gallery-img/tab_img_3-2x.jpg 2x"
                        media="(min-width:768px)"        
                        />
                        <source
                        srcset="./images/gallery-img/mob_img_3-1x.jpg 1x, 
                                ./images/gallery-img/mob_img_3-2x.jpg 2x"
                        media="(min-width:320px)"        
                        />
                        <img
                        class="gallery__item-card"
                        alt=""
                        src="./images/gallery-img/img_3.jpg"
                        />
                </picture> 
                </li>
                <li class="gallery__item"> 
                <picture>
                        <source
                        srcset="./images/gallery-img/desk_img_4-1x.jpg 1x, 
                                ./images/gallery-img/desk_img_4-2x.jpg 2x"
                        media="(min-width:1280px)"        
                        />
                        <source
                        srcset="./images/gallery-img/tab_img_4-1x.jpg 1x, 
                                ./images/gallery-img/tab_img_4-2x.jpg 2x"
                        media="(min-width:768px)"        
                        />
                        <source
                        srcset="./images/gallery-img/mob_img_4-1x.jpg 1x, 
                                ./images/gallery-img/mob_img_4-2x.jpg 2x"
                        media="(min-width:320px)"        
                        />
                        <img
                        class="gallery__item-card"
                        alt=""
                        src="./images/gallery-img/img_4.jpg"
                        />
                </picture> 
                </li>
                <li class="gallery__item"> 
                        <picture >
                        <source
                        srcset="./images/gallery-img/desk_img_5-1x.jpg 1x, 
                                ./images/gallery-img/desk_img_5-2x.jpg 2x"
                        media="(min-width:1280px)"        
                        />
                        <source
                        srcset="./images/gallery-img/tab_img_5-1x.jpg 1x, 
                                ./images/gallery-img/tab_img_5-2x.jpg 2x"
                        media="(min-width:768px)"        
                        />
                        <source
                        srcset="./images/gallery-img/mob_img_5-1x.jpg 1x, 
                                ./images/gallery-img/mob_img_5-2x.jpg 2x"
                        media="(min-width:320px)"        
                        />
                        <img
                        class="gallery__item-card"
                        alt=""
                        src="./images/gallery-img/img_5.jpg"
                        />
                        </picture> 
                
                </li>
                <li class="gallery__item"> 
                <picture>
                        <source
                        srcset="./images/gallery-img/desk_img_6-1x.jpg 1x, 
                                ./images/gallery-img/desk_img_6-2x.jpg 2x"
                        media="(min-width:1280px)"        
                        />
                        <source
                        srcset="./images/gallery-img/tab_img_6-1x.jpg 1x, 
                                ./images/gallery-img/tab_img_6-2x.jpg 2x"
                        media="(min-width:768px)"        
                        />
                        <source
                        srcset="./images/gallery-img/mob_img_6-1x.jpg 1x, 
                                ./images/gallery-img/mob_img_6-2x.jpg 2x"
                        media="(min-width:320px)"        
                        />
                        <img
                        class="gallery__item-card"
                        alt=""
                        src="./images/gallery-img/img_6.jpg"
                        />
                </picture> 
                </li>
                <li class="gallery__item"> 
                <picture>
                        <source
                        srcset="./images/gallery-img/desk_img_7-1x.jpg 1x, 
                                ./images/gallery-img/desk_img_7-2x.jpg 2x"
                        media="(min-width:1280px)"        
                        />
                        <source
                        srcset="./images/gallery-img/tab_img_7-1x.jpg 1x, 
                                ./images/gallery-img/tab_img_7-2x.jpg 2x"
                        media="(min-width:768px)"        
                        />
                        <source
                        srcset="./images/gallery-img/mob_img_7-1x.jpg 1x, 
                                ./images/gallery-img/mob_img_7-2x.jpg 2x"
                        media="(min-width:320px)"        
                        />
                        <img
                        class="gallery__item-card"
                        alt=""
                        src="./images/gallery-img/img_7.jpg"
                        />
                </picture> 
                </li>
                <li class="gallery__item" > 
                <picture>
                        <source
                        srcset="./images/gallery-img/desk_img_8-1x.jpg 1x, 
                                ./images/gallery-img/desk_img_8-2x.jpg 2x"
                        media="(min-width:1280px)"        
                        />
                        <source
                        srcset="./images/gallery-img/tab_img_8-1x.jpg 1x, 
                                ./images/gallery-img/tab_img_8-2x.jpg 2x"
                        media="(min-width:768px)"        
                        />
                        <source
                        srcset="./images/gallery-img/mob_img_8-1x.jpg 1x, 
                                ./images/gallery-img/mob_img_8-2x.jpg 2x"
                        media="(min-width:320px)"        
                        />
                        <img
                        class="gallery__item-card"
                        alt=""
                        src="./images/gallery-img/img_8.jpg"
                        />
                </picture> 
                </li>
                <li class="gallery__item"> 
                <picture>
                        <source
                        srcset="./images/gallery-img/desk_img_9-1x.jpg 1x, 
                                ./images/gallery-img/desk_img_9-2x.jpg 2x"
                        media="(min-width:1280px)"        
                        />
                        <source
                        srcset="./images/gallery-img/tab_img_9-1x.jpg 1x, 
                                ./images/gallery-img/tab_img_9-2x.jpg 2x"
                        media="(min-width:768px)"        
                        />
                        <source
                        srcset="./images/gallery-img/mob_img_9-1x.jpg 1x, 
                                ./images/gallery-img/mob_img_9-2x.jpg 2x"
                        media="(min-width:320px)"        
                        />
                        <img
                        class="gallery__item-card"
                        alt=""
                        src="./images/gallery-img/img_9.jpg"
                        />
                </picture> 
                </li>
                <li class="gallery__item"> 
                
                        <picture>
                        <source
                        srcset="./images/gallery-img/desk_img_10-1x.jpg 1x, 
                                ./images/gallery-img/desk_img_10-2x.jpg 2x"
                        media="(min-width:1280px)"        
                        />
                        <source
                        srcset="./images/gallery-img/tab_img_10-1x.jpg 1x, 
                                ./images/gallery-img/tab_img_10-2x.jpg 2x"
                        media="(min-width:768px)"        
                        />
                        <source
                        srcset="./images/gallery-img/mob_img_10-1x.jpg 1x, 
                                ./images/gallery-img/mob_img_10-2x.jpg 2x"
                        media="(min-width:320px)"        
                        />
                        <img
                        class="gallery__item-card"
                        alt=""
                        src="./images/gallery-img/img_10.jpg"
                        />
                </picture> 
                
                
                </li>
                </ul>
        </div>
    </section>
    
    
    
    
    
    