<div class="backdrop is-hidden">
        <div class="gallery__viev">
                <div class="gallery-slider__container wrapp">
                        <div class="gallery__slider">
                                <div class="gallery-slider__item">
                                        <img src="./images/gallery-img/img_1.jpg" alt="">
                                </div>
                                <div class="gallery-slider__item">
                                        <img src="./images/gallery-img/img_2.jpg" alt="">
                                </div>
                                <div class="gallery-slider__item">
                                        <img src="./images/gallery-img/img_3.jpg" alt="">
                                </div>
                                <div class="gallery-slider__item">
                                        <img src="./images/gallery-img/img_4.jpg" alt="">
                                </div>
                                <div class="gallery-slider__item">
                                        <img src="./images/gallery-img/img_5.jpg" alt="">
                                </div>
                                <div class="gallery-slider__item">
                                        <img src="./images/gallery-img/img_6.jpg" alt="">
                                </div>
                                <div class="gallery-slider__item">
                                        <img src="./images/gallery-img/img_7.jpg" alt="">
                                </div>
                                <div class="gallery-slider__item">
                                        <img src="./images/gallery-img/img_8.jpg" alt="">
                                </div>
                                <div class="gallery-slider__item">
                                        <img src="./images/gallery-img/img_9.jpg" alt="">
                                </div>
                                <div class="gallery-slider__item">
                                        <img src="./images/gallery-img/img_10.jpg" alt="">
                                </div>
                
                        </div>
                </div>
        </div>
</div>