<header class="header">
  <div class="header__conteiner wrapp">
    <a href="index.html" class="header__logo">
      <img src="./images/hero-img/logo1x.png">
    </a>
    <div class="menu__container js-menu-container" id="mobile-menu">
      <button class="menu__toggle js-close-menu">
        <svg width="14" height="14">
          <use href="./images/hero-img/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="menu__nav">
        <button class="menu__button" type="button">Buy now</button>
        <ul class="menu list">
          <li class="menu__item"><a class="menu__link link" href="">Home</a></li>
          <li class="menu__item"><a class="menu__link link" href="">About us</a></li>
          <li class="menu__item"><a class="menu__link link" href="">How it’s made?</a></li>
          <li class="menu__item"><a class="menu__link link" href="">Our products</a></li>
          <li class="menu__item"><a class="menu__link link" href="">Contact</a></li>
        </ul>
      </nav>
    </div>
    <button type="button" class="menu__toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
      <svg width="20" height="12">
        <use href="./images/hero-img/symbol-defs.svg#icon-Burger"></use>
      </svg>
    </button>
  </div>
</header>
<section class="hero">
  <div class="conteiner__hero">
  </div>
</section>
