   <div class="backdrop-franchise is-hidden" modal--franchise>
        <div class="modal--franchise">
            <h3 class="modal__title">Enter your details</h3>
            <div class="modal__input-area">
                <div class="modal__input-data">
                    <input type="text" id="name" class="modal__input-pole">
                    <label for="name" class="modal__input-label">Name</label>
                </div>
                <div class="modal__input-data">
                    <input type="tel" id="tel" class="modal__input-pole">
                    <label for="tel" class="modal__input-label">Telephone</label>
                </div>
                <div class="modal__input-data">
                    <input type="email" id="email" class="modal__input-pole">
                    <label for="email" class="modal__input-label">E-mail</label>
                </div>
                <div class="modal__input-data">
                    <input type="text" id="region" class="modal__input-pole">
                    <label for="region" class="modal__input-label">Region</label>
                </div>
                <div class="modal__input-data">
                    <input type="text" id="region" class="modal__input-pole">
                    <label for="region" class="modal__input-label">City</label>
                </div>
                <div class="modal__input-radio">
                    <h3 class="modal__title ">How much are you ready to invest?</h3>
                    <div class="radio-option">
                        <input type="radio" id="investment1" name="contact" value="over 10000$">
                        <label for="investment1">over 10000$</label>
                    </div>
                    <div class="radio-option">
                        <input type="radio" id="investment2" name="contact" value="over 25000$">
                        <label for="investment2">over 25000$"</label>
                    </div>
                    <div class="radio-option">
                        <input type="radio" id="investment3" name="contact" value="over 50000$">
                        <label for="investment3">over 50000$</label>
                    </div>
                    <div class="radio-option">
                        <input type="radio" id="investment4" name="contact" value="over 100000$">
                        <label for="investment4">over 100000$</label>
                    </div>
                </div>
                <button type="submit" class="hero__button modal__button-send">Send</button>
                <button modal--franchise-close class="modal__modal-button">
                    <svg class="modal__modal-button-icon">
                        <use href="../images/icons.svg#icon-cross"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
