<section class="products">
  <div class="wrapp">
    <p class="pre-title">100% natural</p>
    <h2 class="title">products</h2>
    <ul class="products__list products-set list">
      <li class="products-set__item">
        <div class="products-set__container">
          <div class="products-set__wrapp">
            <h3 class="products-set__title">ice cream</h3>
            <p class="products-set__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button class="products-set__btn"></button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
