<section class="products" id="products">
  <div class="wrapp">
    <p class="products__pre-title">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list products-set list">
      <li class="products-set__item">
        <div class="products-set__container">
          <div class="products-set__overflow overflow js-pr-menu-container">
            <h3 class="overflow__title">Our Flavors</h3>
            <ul>
              <li class="overflow__text">Ice Cream Pints</li>
              <li class="overflow__text">Non-Dairy Pints</li>
              <li class="overflow__text">Doggie Desserts</li>
            </ul>
            <button
              type="button"
              class="products-set__btn products-set__btn--close js-pr-close-menu"
            >
              <svg width="40" height="40" class="products-set__icon">
                <use href="./images/icons.svg#icon-close"></use>
              </svg>
            </button>
          </div>
          <div class="products-set__wrapp products-set__wrapp--ice-cream">
            <h3 class="products-set__title products-set__title--ice-cream">ice cream</h3>
            <p class="products-set__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et.
            </p>
            <button class="products-set__btn js-pr-open-menu">
              <svg class="products-set__icon" width="15" height="15">
                <use href="./images/hero-img/symbol-defs.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="products-set__item">
        <div class="products-set__container">
          <div
            class="products-set__overflow overflow products-set__overflow--coffee js-pr2-menu-container"
          >
            <h3 class="overflow__title">Our Flavors</h3>
            <ul>
              <li class="overflow__text">Ice Cream Pints</li>
              <li class="overflow__text">Non-Dairy Pints</li>
              <li class="overflow__text">Doggie Desserts</li>
            </ul>
            <button
              type="button"
              class="products-set__btn products-set__btn--close js-pr2-close-menu"
            >
              <svg width="40" height="40" class="products-set__icon">
                <use href="./images/icons.svg#icon-close"></use>
              </svg>
            </button>
          </div>
          <div class="products-set__wrapp products-set__wrapp--coffee">
            <h3 class="products-set__title products-set__title--coffee">ice cream</h3>
            <p class="products-set__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et.
            </p>
            <button class="products-set__btn js-pr2-open-menu">
              <svg class="products-set__icon" width="15" height="15">
                <use href="./images/hero-img/symbol-defs.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="products-set__item">
        <div class="products-set__container">
          <div
            class="products-set__overflow products-set__overflow--milkshake overflow js-pr3-menu-container"
          >
            <h3 class="overflow__title">Our Flavors</h3>
            <ul>
              <li class="overflow__text">Ice Cream Pints</li>
              <li class="overflow__text">Non-Dairy Pints</li>
              <li class="overflow__text">Doggie Desserts</li>
            </ul>
            <button
              type="button"
              class="products-set__btn products-set__btn--close js-pr3-close-menu"
            >
              <svg width="40" height="40" class="products-set__icon">
                <use href="./images/icons.svg#icon-close"></use>
              </svg>
            </button>
          </div>
          <div class="products-set__wrapp products-set__wrapp--milkshake">
            <h3 class="products-set__title products-set__title--milkshake">ice cream</h3>
            <p class="products-set__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et.
            </p>
            <button class="products-set__btn js-pr3-open-menu">
              <svg class="products-set__icon" width="15" height="15">
                <use href="./images/hero-img/symbol-defs.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
