.about {
  height: 960px;
  position: relative;
  padding-top: 125px;

  @media screen and (min-width: 768px) {
    height: 720px;
    padding-top: 130px;
  }
  @media screen and (min-width: 1280px) {
    height: 811px;
    padding-top: 125px;
  }
  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--primary-bg-color);
  }
  &__background-img {
    position: absolute;
    width: 100%;
    top: 766px;
    left: 0;
    z-index: 0;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      height: 41.6vw;
      background-image: url(../images/about-img/about-dg-mob1x.png);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/about-img/about-dg-mob2x.png);
      }
    }
    @media screen and (min-width: 1280px) {
      height: 41.6vw;
      top: 342px;
      background-image: url(../images/about-img/about-dg-desk1x.png);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/about-img/about-dg-desk2x.png);
      }
    }
  }
  &__container {
    padding-top: 125px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    @media screen and (min-width: 768px) {
      padding-top: 130px;
      padding-left: 39px;
      padding-right: 36px;
    }
    @media screen and (min-width: 1280px) {
      padding-top: 125px;
      padding-left: 112px;
      padding-right: 117px;
    }
  }
  &__pre-title {
    font-family: var(--header-text-family);
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color);
    margin: auto;
    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.15;
    }
    @media screen and (min-width: 1280px) {
      font-size: 30px;
      line-height: 1.13;
      letter-spacing: 0.04em;
    }
  }
  &__title {
    font-family: var(--header-text-family);
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--header-text-color);
    max-width: 200px;
    margin: auto;
    margin-top: 15px;
    @media screen and (min-width: 768px) {
      max-width: max-content;
      font-size: 48px;
      line-height: 1.15;
    }
    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 1.14;
      letter-spacing: 0.06em;
    }
  }
  &__content-wrap {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      @media screen and (min-width: 1280px) {
        margin-top: 55px;
      }
    }
  }
  &__side-left {
    width: 280px;
    height: 279px;
    margin: 26px auto 0 auto;
    @media screen and (min-width: 768px) {
      width: 340px;
      height: 339px;
      margin: 0;
    }
    @media screen and (min-width: 1280px) {
      width: 516px;
      height: 516px;
    }
    & picture {
      width: 100%;
      height: auto;
    }
  }
  &__side-right {
    font-family: var(--basic-text-famili);
    width: 100%;
    margin: 46px auto 0 auto;
    @media screen and (min-width: 768px) {
      width: 340px;
      margin: 0;
      margin-top: 50px;
    }
    @media screen and (min-width: 1280px) {
      width: 463px;
    }
  }
  &__article-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    color: var(--primary-text-color);
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.76;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      letter-spacing: 0.04em;
    }
  }
  &__article-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    margin-top: 17px;
    color: var(--secondary-text-color);
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.76;
      letter-spacing: 0.04em;
      margin-top: 23px;
    }
    @media screen and (min-width: 1280px) {
      line-height: 1.94;
      margin-top: 35px;
    }
  }
  &__read-more-btn {
    width: 176px;
    height: 44px;
    margin-top: 17px;
    @media screen and (min-width: 768px) {
      margin-top: 62px;
    }
    @media screen and (min-width: 1280px) {
      margin-top: 45px;
    }
    & svg {
      margin-left: 14px;
    }
  }
}
.read-more {
  width: 80vw;
  height: 80vh;
  padding: 20px 20px 20px 40px;
  background-color: white;
  border: 2px solid var(--primary-color);
  border-radius: 24px;
  position: fixed;
  top: 10%;
  left: 10%;
  z-index: 12;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 48vw;
    height: 90vh;
    padding: 10px 10px 10px 30px;
    top: 5%;
    left: 50%;
  }
  @media screen and (min-width: 1280px) {
    height: 80vh;
    padding: 40px 40px 40px 60px;
    top: 10%;
    left: 50%;
  }
  &__close-btn {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-bottom: 15px;
    color: var(--primary-color);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
  }
  &__icon-close {
    fill: inherit;
    margin-left: 3px;
  }
}
