.advantages {
    background-color: var(--primary-bg-color);
    padding-top: 39px;
    padding-bottom: 97px;
    @media screen and (min-width:768px){
        padding-top: 66px;
        padding-bottom: 140px;
    }
    @media screen and (min-width:1200px) {
        padding-top: 39px;
        padding-bottom: 139px;
    }
}

.advantages__list {
    margin: 0;
    padding: 0;
    @media screen and (min-width:768px){
        display: flex;
        flex-wrap: wrap;
        margin: -30px;
    }
    @media screen and (min-width:1200px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}
.advantages__list > .list {
    @media screen and (min-width: 320px) and (max-width: 767px) {
        width: calc(100% - 3 * 30px);
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width:768px){
        width: calc((100% - 3 * 60px) / 3);
        margin: 30px;
    }
    @media screen and (min-width:1200px) {
        width: calc((100% - 3 * 30px) / 3);
        margin: 15px;
    }
}
.advantages__name {
    font-family: var(--header-text-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    margin-bottom: 13px;

    color: var(--header-text-color);
    @media screen and (min-width:768px) {
        font-size: 48px;
    }
    @media screen and (min-width:1200px) {
        font-size: 58px;
    }
    
}

.advantages_text {
    font-family: var(--basic-text-famili);
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    color: var(--primary-text-color);
    @media screen and (min-width:768px) {
        font-size: 14px;
    }
    @media screen and (min-width:1200px) {
        font-size: 16px;
    }
    @media screen and (min-width: 320px) and (max-width: 767px){
        max-width: 230px;
    }
}

.block-1::before {
    content: " ";
    display: block;
    background-image: url('/images/advantages-img/icon-1.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 33px;
    height: 50px;
    margin-bottom: 16px;
    @media screen and (min-width:768px) {
        margin-bottom: 36px;
    }
    @media screen and (min-width:1200px) {
        margin-bottom: 40px;
    }
}
.block-2::before {
    content: " ";
    display: block;
    background-image: url('/images/advantages-img/icon-2.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 50px;
    height: 50px;
    margin-bottom: 16px;
    @media screen and (min-width:768px) {
       margin-bottom: 36px;
    }
    @media screen and (min-width:1200px) {
        margin-bottom: 40px;
    }
}
.block-3::before {
    content: " ";
    display: block;
    background-image: url('/images/advantages-img/icon-3.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    width: 44px;
    height: 50px;
    margin-bottom: 16px;
    @media screen and (min-width:768px) {
        margin-bottom: 36px;
    }
    @media screen and (min-width:1200px) {
        margin-bottom: 40px;
    }
}