.contacts {
  margin-top: 0;
  padding-bottom: 113px;
  background-image: linear-gradient(
    var(--auxiliary-color) 7%,
    var(--primary-bg-color) 7%,
    var(--primary-bg-color) 63%
  );
  @media screen and (min-width: 768px) {
    padding-bottom: 158px;
    background-image: linear-gradient(
      var(--auxiliary-color) 12%,
      var(--primary-bg-color) 7%,
      var(--primary-bg-color) 63%
    );
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 165px;
    background-image: url(/images/contacts-img/sectionbg1x.png),
      linear-gradient(
        var(--auxiliary-color) 14%,
        var(--primary-bg-color) 7%,
        var(--primary-bg-color) 63%
      );
    background-repeat: no-repeat;
    background-position-y: 131px, 0;
  }
}
.contacts__h2 {
  color: turquoise;
}

.contacts__hidden {
  visibility: hidden;
}

.contacts__list {
  list-style-type: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.contacts__item {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 43px 20px;
  max-width: 480px;
  background-color: var(--auxiliary-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  @media screen and (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 31px;
    padding-right: 32px;
    margin-right: 20px;
  }
  @media screen and (min-width: 1280px) {
    width: 330px;
    margin-left: 0;
    margin-right: 31px;
  }
  &:last-child {
    margin-bottom: 0;
    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }
  border-radius: 25px;
}

.contacts__categories {
  margin-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
  width: fit-content;
  border-radius: 4px;
  background-color: var(--secondary-card-color);
  color: var(--auxiliary-color);
  @include font(var(--basic-text-famili), 500, 12px, 1.7, 0.04em);
  align-items: center;
  text-align: center;
  @media screen and (min-width: 768px) {
    @include font(var(--basic-text-famili), 500, 16px, 1.7, 0.04em);
  }
}

.ft {
  background-color: var(--another--card-color);
}

.contacts__place {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  @include font(var(--basic-text-famili), 500, 12px, 1.9, 0.04em);
  @media screen and (min-width: 768px) {
    color: var(--primary-text-color);
    @include font(var(--basic-text-famili), 500, 14px, 1.9, 0.04em);
  }
  @media screen and (min-width: 1280px) {
    color: var(--primary-text-color);
    @include font(var(--basic-text-famili), 500, 16px, 1.9, 0.04em);
  }
}

.contacts__text {
  margin-bottom: 25px;
  color: var(--secondary-text-color);
  @include font(var(--basic-text-famili), 500, 12px, 1.6, 0);
  @media screen and (min-width: 768px) {
    color: var(--secondary-text-color);
    @include font(var(--basic-text-famili), 500, 14px, 1.7, 0);
  }
  @media screen and (min-width: 1280px) {
    color: var(--secondary-text-color);
    @include font(var(--basic-text-famili), 500, 16px, 1.7, 0);
  }
}

.contacts__border {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid;
  border-color: var(--border-color);
  @media screen and (min-width: 768px) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &:first-child {
    margin-top: 0;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  &:first-child {
    margin-top: 0;
  }
}

.contacts__itemtime {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__day {
  color: var(--primary-text-color);
  @include font(var(--basic-text-famili), 500, 12px, 1.9, 0);
  @media screen and (min-width: 768px) {
    color: var(--primary-text-color);
    @include font(var(--basic-text-famili), 500, 14px, 1.9, 0);
  }
}

.contacts__time {
  color: var(--primary-text-color);
  @include font(var(--basic-text-famili), 500, 12px, 1.9, 0);
  color: var(--primary-color);
  @media screen and (min-width: 768px) {
    color: var(--basic-text-famili);
    @include font(var(--primary-text-color), 500, 14px, 1.9, 0);
  }
}

.contacts__link {
  text-decoration: none;
  cursor: pointer;
  color: var(--secondary-text-color);
  @include font(var(--basic-text-famili), 500, 12px, 1.5, 0);
  @media screen and (min-width: 768px) {
    color: var(--secondary-text-color);
    @include font(var(--basic-text-famili), 500, 14px, 1.8, 0);
  }
  @media screen and (min-width: 1280px) {
    color: var(--secondary-text-color);
    @include font(var(--basic-text-famili), 500, 16px, 1.5, 0);
  }
}

.contacts__buttonlist {
  margin-top: 54px;
  list-style-type: none;
  text-align: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: flex-start;
    margin-top: 61px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 66px;
  }
}

.contacts__listtime {
  list-style-type: none;
}

.contacts__telpost {
  list-style-type: none;
}

.contactsbutton1 {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 22px;
  width: 170px;
  background-color: var(--header-text-color);
  color: var(--auxiliary-color);
  @include font(var(--basic-text-famili), 700, 16px, 1.3, 0);
  transition: color 250ms linear, background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--hover-redbutton-color);
  }
  @media screen and (min-width: 768px) {
    margin-right: 15px;
    margin-bottom: 0;
  }
}

.contactsbutton2 {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 22px;
  width: 170px;
  background-color: var(--auxiliary-color);
  color: var(--header-text-color);
  @include font(var(--basic-text-famili), 700, 16px, 1.3, 0);
  transition: color 250ms linear, background-color 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--button-color-hover);
  }
}

.contacts__svg1 {
  margin-bottom: auto;
  margin-left: 7px;
  fill: var(--auxiliary-color);
}

.contacts__svg2 {
  margin-bottom: auto;
  margin-left: 7px;
  fill: var(--header-text-color);
}
