.contacts {
  margin-top: 0;
  background-image: linear-gradient(
    var(--auxiliary-color) 7%,
    var(--primary-bg-color) 7%,
    var(--primary-bg-color) 63%
  );
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
      var(--auxiliary-color) 12%,
      var(--primary-bg-color) 7%,
      var(--primary-bg-color) 63%
    );
  }
  @media screen and (min-width: 1280px) {
    background-image: url(/images/contacts-img/sectionbg1x.png),
      linear-gradient(
        var(--auxiliary-color) 14%,
        var(--primary-bg-color) 7%,
        var(--primary-bg-color) 63%
      );
    background-repeat: no-repeat;
    background-position-y: 131px, 0;
  }
}
.contacts__h2 {
  color: turquoise;
}

.contacts__hidden {
  visibility: hidden;
}

.contacts__list {
  list-style-type: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.contacts__item {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 43px 20px;
  max-width: 480px;
  background-color: var(--auxiliary-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  @media screen and (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 31px;
    padding-right: 32px;
    margin-right: 20px;
  }
  @media screen and (min-width: 1280px) {
    width: 330px;
    margin-left: 0;
    margin-right: 31px;
  }
  &:last-child {
    margin-bottom: 0;
    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }
  border-radius: 25px;
}

.contacts__categories {
  margin-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
  width: fit-content;
  border-radius: 4px;
  background-color: var(--secondary-card-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  color: var(--auxiliary-color);
  align-items: center;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.9;
  }
}

.ft {
  background-color: var(--another--card-color);
}

.contacts__place {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.9;
  letter-spacing: 0.04em;
  color: var(--primary-text-color);
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.9;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.contacts__text {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: var(--secondary-text-color);
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.7;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.contacts__border {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid;
  border-color: var(--border-color);
  @media screen and (min-width: 768px) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &:first-child {
    margin-top: 0;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  &:first-child {
    margin-top: 0;
  }
}

.contacts__itemtime {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__day {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.9;
  color: var(--primary-text-color);
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.contacts__time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.9;
  color: var(--primary-color);
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.contacts__link {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--secondary-text-color);
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.8;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.8;
  }
}

.contacts__buttonlist {
  margin-top: 34px;
  padding-bottom: 113px;
  list-style-type: none;
  text-align: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: flex-start;
    margin-top: 61px;
    padding-bottom: 158px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 66px;
    padding-bottom: 165px;
  }
}

.contacts__buttonitem1 {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-left: 17px;
  padding-right: 9px;
  @media screen and (min-width: 768px) {
    margin-left: 14.5px;
    margin-right: 0;
    padding-left: 30px;
    padding-right: 26px;
    max-width: 191.45px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  width: auto;
  max-width: 161.45px;
  height: 44px;
  background-color: var(--header-text-color);
  border-radius: 22px;

  &:focus,
  &:hover {
    background-color: var(--header-text-color);
  }

  &:focus .contacts__svg1,
  &:hover .contacts__svg1 {
    fill: var(--auxiliary-color);
  }

  &:hover .contactsbutton1,
  &:focus .contactsbutton1 {
    background-color: var(--header-text-color);
    color: var(--auxiliary-color);
  }
}

.contacts__buttonitem2 {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-left: 17px;
  padding-right: 9px;
  @media screen and (min-width: 768px) {
    margin-left: 14.5px;
    margin-right: 0;
    padding-left: 30px;
    padding-right: 26px;
    max-width: 191.45px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  width: auto;
  max-width: 161.45px;
  height: 44px;
  background-color: var(--auxiliary-color);
  border-radius: 22px;

  &:focus,
  &:hover {
    background-color: var(--button-color-hover);
  }

  &:focus .contacts__svg2,
  &:hover .contacts__svg2 {
    fill: var(--header-text-color);
  }

  &:hover .contactsbutton2,
  &:focus .contactsbutton2 {
    background-color: var(--button-color-hover);
    color: var(--header-text-color);
  }
}

.contacts__listtime {
  list-style-type: none;
}

.contacts__telpost {
  list-style-type: none;
}

.contactsbutton1 {
  padding-top: 12px;
  padding-bottom: 10px;
  background-color: var(--header-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: var(--auxiliary-color);
}

.contactsbutton2 {
  padding-top: 12px;
  padding-bottom: 10px;
  background-color: var(--auxiliary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: var(--header-text-color);
}

.contacts__svg1 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 7px;
  fill: var(--auxiliary-color);
}

.contacts__svg2 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 7px;
  fill: var(--header-text-color);
}
