.customer {
  height: 100%;
  padding-bottom: 86px;
}
.content {
  justify-content: center;
  align-items: center;
}

button.splide__pagination__page {
  background-color: #d9d9d9;
   width: 12px;
  height: 12px;
  margin: 35px 9px 0; 
}
button.splide__pagination__page.is-active {
  background: url('/images/customer-img/Vector\ \(2\).svg');
  border-radius: unset;
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
}
ul.splide__pagination {
  position: relative;
}

.customer-foto  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 29px;
}

.slider-text-wrapper::before {
  content: '';
  width: 54px;
  height: 40px;
  display: inline-block;
  background-size: contain;
  position: absolute;
}
.slider-text-wrapper::before {
  background-image: url('/images/customer-img/“\ \(1\).svg');
}
.customer-wrapp::after {
  content: '';
  width: 40px;
  height: 4px;
  background-size: contain;
  position: absolute;
  overflow: auto;
  margin: auto;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
}
.customer-wrapp::after {
  background-image: url('/images/customer-img/Group\ 8\ \(1\).svg');
}

.splide__arrows {
  display: none;
}

.customer-wrapp img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
  display: block;
}

.slider-text-wrapper {
  background-color: #fafafa;
  padding: 44px 50px 16px;
  margin-bottom: 30px;
  position: relative;
}
.customer-reviews {
  @include font('DM Sans', 500, 12px, 2.55, 0.03em);
  padding: 0 18px;
  background-image: repeating-linear-gradient(
    to top,
    var(--border-color) 0px 1px,
    transparent 1px 31px
  );
  text-align: center;
  z-index: 10;
  position: relative;
}
.customer-text {
  @include font('DM Sans', 500, 14px, 1.86, 0.03em);
  text-align: center;
  color: var(--primary-text-color);
  margin-top: 50px;
}
