.footer {
  position: relative;

  background-color: var(--primary-bg-color);
  &::after {
    content: '';
    position: absolute;
    bottom: 89px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
    @media screen and (min-width: 768px) {
      bottom: 73px;
    }
    @media screen and (min-width: 1280px) {
      bottom: 45px;
    }
  }
}

.footer__wrapp {
  @media screen and (min-width: 768px) {
    display: flex;

    justify-content: space-between;
    padding-bottom: 146px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 97px;
  }
}

.footer__title {
  max-width: 232px;
  padding-bottom: 17px;
  color: var(--primary-color);
  @include font(var(--header-text-family), 500, 18px, 1.17, 0em);
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    max-width: 340px;
    padding-bottom: 16px;
    @include font(var(--header-text-family), 500, 26px, 1.15, 0.04em);
  }
  @media screen and (min-width: 1280px) {
    min-width: 474px;
    padding-bottom: 15px;
    @include font(var(--header-text-family), 500, 30px, 1.13, 0.04em);
  }
}

.footer__title--big-red {
  @media screen and (max-width: 767px) {
    width: 200px;
  }
  padding-bottom: 46px;
  color: var(--header-text-color);
  @include font(var(--header-text-family), 500, 34px, 1.15, 0.04em);
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    padding-bottom: 0;
    @include font(var(--header-text-family), 500, 48px, 1.15, 0.06em);
  }
  @media screen and (min-width: 1280px) {
    @include font(var(--header-text-family), 500, 58px, 1.14, 0.06em);
  }
}

.socials {
  padding-bottom: 42px;
  @media screen and (min-width: 768px) {
    padding-bottom: 50px;
  }
  display: flex;
  justify-content: right;
}

.social + .social {
  margin-left: 28px;
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 24px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;

  color: var(--auxiliary-color);
  background-color: var(--icon-bg-color);

  transition: color var(--transition-duration-link) var(--timing-function-cubic-bezier),
    background-color var(--transition-duration-link) var(--timing-function-cubic-bezier);
  &:hover,
  &:focus {
    background-color: var(--header-text-color);
  }
  animation: scaling 1500ms steps(1) 100ms infinite;
}

.social__icon {
  fill: var(--auxiliary-color);
}

.footer__phone-container {
  display: flex;
  justify-content: right;

  @media screen and (max-width: 767px) {
    padding-bottom: 43px;
  }
}

.footer_phone-text,
.footer__phone {
  padding-right: 5px;
  color: var(--primary-text-color);
  @include font(var(--basic-text-famili), 700, 12px, 1.86, 0);
  @media screen and (min-width: 768px) {
    @include font(var(--basic-text-famili), 700, 14px, 1.86, 0);
  }
  @media screen and (min-width: 1280px) {
    @include font(var(--basic-text-famili), 700, 16px, 1.86, 0.02em);
  }
}

.footer__phone {
  color: var(--header-text-color);
}

.copy_right {
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 25px;

  text-align: center;
  color: var(--secondary-text-color);
  @include font(var(--basic-text-famili), 700, 14px, 1.52, 0);
  @media screen and (max-width: 767px) {
    max-width: 150px;
    padding-left: 5px;
    padding-right: 5px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 29px;
    padding-bottom: 18px;
    @include font(var(--basic-text-famili), 700, 14px, 1.86, 0.02em);
  }
  @media screen and (min-width: 1280px) {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1.3);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
