.gallery {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
  var(--primary-bg-color) 38%,
  var(--auxiliary-color) 40%,
  var(--auxiliary-color) 62%
 );
  width: 100%;
 }



 .gallery__title {
  color: var(--header-text-color);
  display: none;
  }

.gallery__list {
    height: 124px;
    // width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
	margin-right: -2px;
    margin-bottom: -2px;
    @media screen and (min-width: 768px) {
      height: 278px;
      margin-right: -4px;
      margin-bottom: -4px;
    } 
    @media screen and (min-width: 1280px) {
      height: 396px;
      margin-right: -8px;
      margin-bottom: -8px;
    } 
  }


  .gallery__item {
    animation: flipInY;
    animation-duration: 4s; 
	margin-right: 2px;
    margin-bottom: 2px;
    &:first-child,
    &:last-child {
      padding-top: 42px;
      padding-bottom: 42px;
    }
    &:nth-child(4n+2) {
      padding-top: 20px;
    }
    &:nth-last-child(2) {
      padding-bottom: 30px;
    }
    &:hover {
      position: relative;
      transform: scale(2);
      transition: transform 1000ms;
      transform-origin: center;
    }  
    @media screen and (min-width: 768px) {
    margin-right: 4px;
    margin-bottom: 4px;
    }
    @media screen and (min-width: 1280px) {
      margin-right: 8px;
    margin-bottom: 8px;
    &:first-child,
    &:last-child {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
}  
    
   .gallery-list-item__card {
    border-radius: 10px;
    @media screen and (min-width: 1280px) {
      border-radius: 20px;
    }
   }
 
   
//    .is-hidden {
//     visibility: hidden;
//     opacity: 0;
//     pointer-events: none;
//   }
  
//   .backdrop {
//     width: 100vw;
//     height: 100vh;
//     background-color: #ffb8cabd;
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 5;
//     padding-top: 50px;
//     transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
//       scale 1000ms cubic-bezier(0.4, 0, 0.2, 1),
//       visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1),
//       rotate 1000ms cubic-bezier(0.4, 0, 0.2, 1);
//       &.is-hidden
//       .gallery__viev{
//     transform: scale(0) rotate(-380deg);
//     }
//   }


//   .gallery__viev {
//     position: absolute;
// 	// height: 90vh;
// 	width: 100%;
//     top: 50%;
//     left: 50%;
//     // border-radius: 60px;
//     transform: scale(1) translate(-50%, -50%) rotate(0);
//     transition: transform 1000ms;
//     transform-origin: top left;
// 		@media screen and (min-width: 768px) {
// 		width: 100%;
// 	  	} 
// 	 	 @media screen and (min-width: 1280px) {
// 		width: 90vh;
// 	  	}

//     }

//     // .gallery-viev__image {
//     //   // border-radius: 60px;
//     //   height: 90%;
//     //   }
  
//     .gallery-close__btn {
//       display: flex;
//       text-align: center;
//       justify-content: center; 
//       align-items: center; 
//       position: absolute;
// 	  z-index: 1000;
//       top: 15px;
//       right: 20px;
//       width: 20px;
//       height: 20px;
//       color: var(--header-text-color);
//       border: 5px solid var(--header-text-color);
//       border-radius: 30%;
//       background-color: rgba(37, 41, 39, 0.445);
//       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// 	  @media screen and (min-width: 768px) {
// 		top: 20px;
// 		right: 35px;
// 		width: 40px;
//       height: 40px;
// 	  	} 
// 	 	 @media screen and (min-width: 1280px) {
// 			top: 30px;
// 			right: 50px;
// 			width: 60px;
//       height: 60px;
// 	  	}
//       }
  
//       .gallery-close__icon {
//           fill: currentColor;
//         }


// /* Основные стили */
// .gallery-slider__container {
//  	// height: 100%;
//    display: flex;
//    justify-content:center;
//    align-items: center;
//  //   max-width: 100%;
//    padding-left: 20px;
//    padding-right: 20px;
//    margin: 0 auto;
 
//    @media screen and (min-width: 480px) {
//      width: 480px;
//      padding-left: 20px;
//      padding-right: 20px;
//    }
 
//    @media screen and (min-width: 768px) {
//      width: 768px;
//      padding-left: 34px;
//      padding-right: 34px;
//    }
//    @media screen and (min-width: 1280px) {
//      width: 1280px;
//      padding-left: 115px;
//      padding-right: 115px;
//    }
//  }
// /* Слайдер */
// .slick-slider{
// 	min-width: 0;
// }
// // /* Ограничивающая оболочка */
// .slick-list {
// 	overflow: hidden;
// }
// // /* Лента слайдов */
// .slick-track{
// 	display: flex;
// 	align-items: flex-start;
// }



// /* Конкретный слайдер */
// .gallery__slider {
// 	position: relative;
// 	// padding: 0px 60px;
	
// }

// // @media (max-width:767px){
// // 	.slider {
// // 		padding: 0px 40px;
// // 	}
// // }

// .gallery__slider .slick-dots{
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// }
// .gallery__slider .slick-dots li{
// 	list-style: none;
// 	margin: 0px 10px;
// }
// .gallery__slider .slick-dots button{
// 	font-size: 0;
// 	width: 10px;
// 	height: 10px;
// 	background-color: #fff;
// 	border-radius: 50%;
// }

// .gallery__slider .slick-dots li.slick-active button{
// 	background-color: transparent;
// 	border: 1px solid #fff;
// }

// .gallery-slider__item {
	
// 	display: flex;
// 	max-height: 90vh;
// 	transition: all 0.3s ease 0s;
// 	padding: 0px 15px;
// 	text-align: center;
// 	object-fit: scale-down;
// 	border-radius: 20px;
// 	@media screen and (min-width: 768px) {
// 		border-radius: 40px;
// 	  	} 
// 	 	 @media screen and (min-width: 1280px) {
// 			border-radius: 60px;
	
// 	  	}
	
// }
// .gallery-slider__item img{
// 	// max-height: 90vh;
//     margin: 0, auto;
// 	border: none;
// 	border-radius: 20px;
// 	@media screen and (min-width: 768px) {
// 		border-radius: 40px;
// 	  	} 
// 	 	 @media screen and (min-width: 1280px) {
// 			border-radius: 60px;
// 	}
// }
