.gallery {
  background-image: linear-gradient(
     
  var(--primary-bg-color) 38%,
  var(--gallery-bg-sec-color) 38%,
  var(--gallery-bg-sec-color) 62%
 );
  width: 100%;
  // padding: 0 20px;
  // width: 320px;
  }
.gallery__title {
  color: var(--header-text-color);
  display: none;
  }

  .gallery__list {
    
    // max-width: 320px;
    position: relative;
    height: 124px;
    // transform-origin: center;
    // transform: translateY(-0%);
    // margin-top: 0;
    // margin-bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    margin-right: -2px;
    margin-bottom: -2px;
    }

  .gallery__item {
    flex-basis: calc(100% / 5 - 2px);
    margin-right: 2px;
    margin-bottom: 2px;
    // border-radius: 10px;
    // flex-grow: 1;
    // border: 2px solid red;

    // border-radius: 2px;
    &:first-child,
    &:last-child {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    &:nth-last-child(2) {
      padding-bottom: 25px;
    }
    &:nth-last-child(3) {
      padding-top: 15px;
    }  
    &:nth-last-child(4) {
      padding-bottom: 15px;
    }
    &:nth-last-child(5) {
      padding-top: 25px;
    }
  }

  .gallery-list-item__card {
    border-radius: 10px;
    // &:first-of-type{
    //   flex-grow: 2;
    // }
  }
  .est {
    flex-grow: 2;
  }
      
    
  
  

