.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: #ffb8cabd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  overflow-y: hidden;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    rotate 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-hidden
    .gallery__viev{
  transform: scale(0) rotate(-380deg);
  
  }
}


.gallery__viev {
  position: relative;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%) rotate(0);
  transition: transform 1000ms;
  transform-origin: top left;
  padding: 10px;
  @media screen and (min-width: 768px) {
    border-radius: 20px;
  } 
  @media screen and (min-width: 1280px) {
    border-radius: 40px;
  }
}


.gallery-slider__container {
 display: flex;
 align-items: center;
 height: 100vh; 
 max-width: 100vh;
 width: 100%; 
}


/* Слайдер */
.slick-slider{
min-width: 0;
}
// /* Ограничивающая оболочка */
.slick-list {
overflow: hidden;
}
// /* Лента слайдов */
.slick-track{
display: flex;
align-items: flex-start;
z-index: 500;
}



/* Конкретный слайдер */
.gallery__slider {
position: relative;
&__item {
  transition: all 0.3s ease 0s;
  padding: 0px 15px;
}
}


.gallery-slider__item img{
z-index: 400;
border-radius: 20px;
@media screen and (min-width: 768px) {
  border-radius: 40px;
} 
@media screen and (min-width: 1280px) {
    border-radius: 60px;
}
}