.gallery {
  background-image: linear-gradient(
  var(--primary-bg-color) 38%,
  var(--auxiliary-color) 40%,
  var(--auxiliary-color) 62%);
  width: 100%;
  &__title {
    color: var(--header-text-color);
    display: none;
  }
  &__list {
    height: 124px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-right: -2px;
    margin-bottom: -2px;
    @media screen and (min-width: 768px) {
      height: 278px;
      margin-right: -4px;
      margin-bottom: -4px;
    } 
    @media screen and (min-width: 1280px) {
      height: 396px;
      margin-right: -8px;
      margin-bottom: -8px;
    }
    &-item-card {
      border-radius: 10px;
      @media screen and (min-width: 1280px) {
        border-radius: 20px;
      }
    } 
  }
  &__item {
    animation: flipInY;
    animation-duration: 4s; 
    transition-property: transform;
    transition-duration: 1000ms;
    margin-bottom: 2px;
    &:first-child,
    &:last-child {
      padding-top: 42px;
      padding-bottom: 42px;
    }
    &:nth-child(4n+2) {
      padding-top: 20px;
    }
    &:nth-last-child(2) {
      padding-bottom: 30px;
    }
    &:hover {
      position: relative;
      transform: scale(2);
      // transition: transform 1000ms;
      transform-origin: center;
    }  
    @media screen and (min-width: 768px) {
    margin-right: 4px;
    margin-bottom: 4px;
    }
    @media screen and (min-width: 1280px) {
      margin-right: 8px;
    margin-bottom: 8px;
      &:first-child,
      &:last-child {
        padding-top: 100px;
        padding-bottom: 100px;
      }
    }
    &-card {
      border-radius: 10px;
      @media screen and (min-width: 1280px) {
        border-radius: 20px;
      }
    }
  } 

}







    
    
   
 
   

