.backdrop-franchise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99;
  overflow-y: scroll;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal--franchise {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #e17992;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

  @media screen and (min-width: 768px) {
    width: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.modal__title {
  width: 180px;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    width: auto;
  }
}
.modal__input-data {
  position: relative;
  margin-top: 25px;
}
.modal__input-area {
  width: 180px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;

  @media screen and (min-width: 768px) {
    width: 440px;
  }
}
.modal__input-label {
  position: absolute;
  top: -18px;
  left: 20px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.modal__input-pole {
  width: 100%;
  padding-left: 15px;
  margin-left: -8px;
  height: 30px;
  border: none;
  border-radius: 30px;

  @media screen and (min-width: 768px) {
    height: 40px;
  }
}
.modal__modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #d41443;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #df1b4cbe;
  }
}
.modal__modal-button-icon {
  position: absolute;
  top: 1px;
  right: 5px;
  width: 18px;
  height: 18px;
  margin-top: 5px;
  fill: #ffffff;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input-radio {
  display: flex;
  flex-direction: column;
}
.radio-option {
  margin-top: 3px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.modal__button-send {
  display: block;
  width: 150px;
  height: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  border-color: transparent;
  background-color: #d41443;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #df1b4cbe;
  }
}
