.backdrop-ourlocation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal--ourlocation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 350px;
  background: #e17992;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;

  @media screen and (min-width: 768px) {
    width: 480px;
    height: 350px;
  }
  @media screen and (min-width: 1279px) {
    width: 650px;
    height: 600px;
  }
}
.modal__map {
  width: 200px;
  height: 280px;
  margin-top: 45px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;

  @media screen and (min-width: 768px) {
    width: 460px;
    height: 320px;
  }
  @media screen and (min-width: 1279px) {
    width: 620px;
    height: 520px;
  }
}
iframe {
  width: 100%;
  height: 100%;
}
.modal__modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #d41443;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: #df1b4cbe;
  }
}
.modal__modal-button-icon {
  position: absolute;
  top: 1px;
  right: 5px;
  width: 18px;
  height: 18px;
  margin-top: 5px;
  fill: #ffffff;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
